{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<style>
.profile-bg {
  min-height: 262px;
  background:
    linear-gradient(
      hsl(var(--main), 25%, 25%, 20%),
      hsl(var(--main), 25%, 25%, 60%)),
      url("/banners/4");
  background-size: cover;
}
body {
  background:
    linear-gradient(
      hsl(var(--main), 25%, 25%, 20%),
      hsl(var(--main), 10%, 10%)),
      url("/backgrounds/4") !important;
  background-size: cover;
  background-clip: content-box;
}
</style>
<div class="min-h-screen w-full">
  <div class="mx-2 sm:mx-4 md:w-11/12 md:mx-auto h-full bg-hsl-15 rounded-lg my-8">
    <!-- Profile Head -->
    <div class="flex flex-col">
      <div class="profile-bg rounded-t-lg"></div>
      <div class="flex flex-col">
        <div class="pl-3 md:pl-4 lg:pl-11 flex absolute lg:items-start">
          <img src="https://a.seventwentyseven.xyz/4" alt="avatar"
               onerror="this.src='/static/images/avatar_notwork.png';"
               class="w-28 h-28 -mt-36 rounded-xl object-cover
                      lg:w-44 lg:h-44 lg:-mt-20">
        </div>
        <div class="h-15 bg-hsl-30-15 w-full flex items-center">
          <div>
            <button>Std</button>
            <button>Taiko</button>
            <button>3</button>
            <button>4</button>
          </div>
          <div class="ml-auto">
            <button>a</button>
            <button>b</button>
            <button>c</button>
          </div>
        </div>
        <div class="h-15 bg-hsl-20 w-full"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}