{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div class="my-10 w-full md:mx-auto max-w-screen-xl md:w-10/12 flex flex-col">
    <!-- Header -->
    <div class="w-full bg-hsl-25 rounded-t-lg flex flex-col justify-center py-2">
        <a class="font-medium flex items-end ml-4" href="/b/2137">
            <span class="text-xl">Jebać Żydów</span>
            <span class="mx-2">-</span>
            <span class="text-lg">Haretsu Haretsu</span>
        </a>
        <div class="flex items-center mt-1 ml-4">
            <i class="mode-icon mania mr-2 text-[#def750] flex items-center"></i>
            <span class="bg-hsl-10 text-xs py-0.5 px-2 rounded-full
                  text-[#def750] flex items-center"
                  ><i class="fas fa-star mr-2"></i>7.27</span>
            <a class="flex items-end" href="/b/2137727">
                <span class="ml-2">[</span>
                <span>Chujowa Mapa</span>
                <span>]</span>
                <span class="ml-2 text-sm">Mapped by m666</span>
            </a>
        </div>
    </div>
    <!-- Banner and stuff -->
    <div class="h-80 bg-hsl-30"
         style="background: linear-gradient(hsl(var(--main), 10%, 10%, 0.8),
         hsl(var(--main), 10%, 10%, 0.8)), url(https://assets.ppy.sh/beatmaps/977898/covers/cover.jpg); background-size: cover; background-size: cover;">
        <div class="mx-4 my-2 flex items-center">
            <div class="flex content-center justify-center my-auto w-3/12 text-9xl font-semibold text-green-500">
                A
            </div>
        </div>
    </div>
</div>
{% endblock %}