{% extends 'profile/base.html' %}
{% block title %}Profile{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<!-- About Me -->
<div class="w-full bg-hsl-20 rounded-lg flex flex-col" style="min-height: 64px;">
    <!-- Header -->
    <div class="text-xl font-medium pl-5 py-2 bg-hsl-25 rounded-t-lg">
        <i class="fas fa-address-card mr-2 w-auto"></i>About Me
    </div>
    <!-- Content -->
    <div class="m-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, ea vero sint obcaecati vel aliquam recusandae labore nemo officiis ipsam tempora molestiae suscipit ad eum odio. Eius laudantium voluptatibus ipsum.
    </div>
</div>
{% endblock %}